h5py==3.8.0
imageio==2.31.2
lmdb==1.4.1
matplotlib==3.5.3
ml-collections==0.1.1
numpy==1.21.5
opencv-python==4.8.0.76
Pillow==9.5.0
pyparsing==3.1.1
pytorch-msssim==1.0.0
scikit-image==0.19.3
scipy==1.7.3
tensorboardX==2.6.2.2
tifffile==2021.11.2
torch==1.8.1
torchaudio==0.8.0a0+e4e171a
torchvision==0.9.1
tqdm==4.66.1
visualizer==0.0.1
